#DB - PRISMA
DATABASE_URL="postgresql://[UserName]:[YourPassword]@pg.yourdomain.com:5432/yourdbname?schema=public"

#APP basic
APP_NAME="NextJS Starter"

#NEXTP_PUBLIC
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="NextJS Starter"

#Auth.js
AUTH_TRUST_HOST=true
AUTH_URL="http://localhost:3000/api/auth"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
# Added by `npx auth`. Read more: https://cli.authjs.dev
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# JWT_SECRET=""
# Added by `npx auth`. Read more: https://cli.authjs.dev    
AUTH_SECRET=""
# Linux: `openssl rand -hex 64` 

AUTH_AUTH0_ID=
AUTH_AUTH0_SECRET=
AUTH_AUTH0_ISSUER=

AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

AUTH_TWITTER_ID=
AUTH_TWITTER_SECRET=

#POSTHOG
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

#RESEND
RESEND_API_KEY=
RESEND_AUDIENCE_ID=
RESEND_FROM_EMAIL="hi@nextsaastemplate.dev"